<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <app-loading></app-loading>

  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

    <a *ngFor="let item of productsService.products" routerLink="/item" class="animated fast fadeIn rk-item ae-masonry__item">
      <img *ngIf="item.url" src="assets/img/{{ item.url }}.jpg" alt="">
      <div class="item-meta">
        <h2>{{item.titulo}}</h2>
        <p>{{item.categoria}}</p>
      </div>
    </a>
  </div>
</section>
